@import "./scss/mixins";
@import "./scss/variants";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(
    to right,
    black,
    rgb(4, 19, 4),
    rgb(9, 69, 9),
    rgb(16, 168, 16)
  );
  color: $green;
}

section,
header {
  min-height: 100vh;
}

section {
  padding: 30px;

  .title {
    font-size: 25px;
    text-align: center;
  }
}

// * Scrollbar
/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #10a710;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #073c07;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d680d;
}

// * Animation keyframes
@keyframes fade-out {
  to {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes fade-in-and-move {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(60vw);
    opacity: 0;
  }
  to {
    transform: translateX(0vw);
    opacity: 1;
  }
}
